@import "tailwindcss";
@theme {
  /* 50 is almost white with a hint of maroon */
  --color-maroon-50: #fdf2f2; 
  --color-maroon-100: #fbe4e4;
  --color-maroon-200: #f7cfcf;
  --color-maroon-300: #efacac;
  --color-maroon-400: #e17c7c;
  /* 500 is your "Base" Maroon */
  --color-maroon-500: #800000; 
  --color-maroon-600: #730000;
  --color-maroon-700: #600000;
  --color-maroon-800: #500000;
  --color-maroon-900: #420000;
  --color-maroon-950: #260000;

/* --- DEEP INK SCALE (Midnight Navy-Black) --- */
  --color-ink-50: #f1f5f9;
  --color-ink-100: #e2e8f0;
  --color-ink-200: #cbd5e1;
  --color-ink-300: #94a3b8;
  --color-ink-400: #64748b;
  --color-ink-500: #475569;
  --color-ink-600: #334155;
  --color-ink-700: #1e293b;
  --color-ink-800: #0f172a;
  --color-ink-900: #020617;
  --color-ink-950: #010413;

  /* --- LUXURY GOLD SCALE (Amber-Bronze) --- */
  --color-gold-50: #fffbeb;
  --color-gold-100: #fef3c7;
  --color-gold-200: #fde68a;
  --color-gold-300: #fcd34d;
  --color-gold-400: #fbbf24;
  --color-gold-500: #d97706;
  --color-gold-600: #b45309;
  --color-gold-700: #92400e;
  --color-gold-800: #78350f;
  --color-gold-900: #451a03;
  --color-gold-950: #2b0e01;


/* --- BRAND SCALE (Blue / Dark Blue) --- */
--color-brand: #1d4ed8;
--color-brand-50: #eff6ff;
--color-brand-100: #dbeafe;
--color-brand-200: #bfdbfe;
--color-brand-300: #93c5fd;
--color-brand-400: #60a5fa;
--color-brand-500: #3b82f6;
--color-brand-600: #2563eb;
--color-brand-700: #1d4ed8;
--color-brand-800: #1e3a8a;
--color-brand-900: #172554;
--color-brand-950: #0b1120;

--bg-neutral-primary-soft:#F8FAFC ;
--bg-neutral-primary:#E2E8F0 ;
--border-neutral-border:#CBD5E1 ;
--text-neutral-primary-bold:#1D4ED8 ;

/* --- NEUTRAL PRIMARY SCALE --- */
--color-neutral-primary-50: #f8fafc;
--color-neutral-primary-100: #f1f5f9;
--color-neutral-primary-200: #e2e8f0;
--color-neutral-primary-300: #cbd5e1;
--color-neutral-primary-400: #94a3b8;
--color-neutral-primary-500: #64748b;
--color-neutral-primary-600: #475569;
--color-neutral-primary-700: #334155;
--color-neutral-primary-800: #1e293b;
--color-neutral-primary-900: #0f172a;
--color-neutral-primary-950: #020617;

--bg-neutral-primary-soft-50
--bg-neutral-primary-soft-100
--border-neutral-primary-soft-300
--text-neutral-primary-soft-700

/* --- NEUTRAL QUATERNARY --- */
--color-neutral-quaternary: #dbe4f0;

  /* Modern Body Text (Clean & Readable) */
  --font-sans: "Inter", "Instrument Sans", system-ui, sans-serif;
  
  /* Elegant Luxury (Headings) */
  --font-serif: "Playfair Display", "Instrument Serif", serif;
  
  /* Coding & Data (Clean Mono) */
  --font-mono: "JetBrains Mono", "Fira Code", monospace;

  /* Brand / Decorative (The 'Calans' feel) */
  --font-display: "Calistoga", "Archivo Black", sans-serif;
  
  /* Signature / Script (Handdrawn style) */
  --font-signature: "Dancing Script", "Cursive";
  
  /* Narrow / Impact (For tight spaces/sidebars) */
  --font-narrow: "Inter Tight", "Arial Narrow", sans-serif;
}