---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>
  <body class="bg-slate-50">
<Header activePath="/contact" />

<section class="bg-white dark:bg-gray-900">
</section>

<h2 class="mb-4 text-4xl tracking-tight font-extrabold font-display text-center text-gray-900 ">Want to Connect with me?</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-maroon-500 -400 sm:text-xl">Here is my contacts where you can reach out to me</p>

<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">GitHub Profile Link</h5>
    <p class="text-body mb-6">Here you can find my GitHub Profile and Repository</p>
    <a href="https://github.com/Azzurra56" class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
        View on GitHub
        <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
    </a>
</div>

      
</body>
</html>